<div class="flex-row bg-cyan-400 h-20 flex justify-center items-center">
  <div class="text-transtarent ml-5 w-2/3">Angular Router App</div>
  <a
    class="text-transtarent w-1/6 hover:text-sky-500 dark:hover:text-sky-400"
    routerLink="/first-component"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    First
  </a>
  <a
    class="text-transtarent w-1/6 hover:text-sky-500 dark:hover:text-sky-400"
    routerLink="/second-component"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    Second
  </a>
</div>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
